@font-face {
    font-family: 'EuropeUnderground';
    src: url('../fonts/europeunderground_black-webfont.woff') format('woff'),
    url('../fonts/europeunderground_black-webfont.woff2') format('woff2');
}

body {
    margin: 1em;
    scrollbar-width: none;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.project-header {
    margin-bottom: 40px;
}

.project-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

h1{
    font-family: EuropeUnderground;
    margin: 0;
    font-size: clamp(1.55rem, 3.5vw, 5rem);
    line-height: 1.1;
    color: #313333;
    letter-spacing: 0;
    padding-bottom: 1rem;

}

.project-title{
    font-family: EuropeUnderground;
    margin: 0;
    font-size: clamp(2rem, 2vw, 2.5rem);
    line-height: 1.1;
    color: #313333;
    letter-spacing: 0;
    padding-bottom: 1rem;

}

.intro {
    font-size: 1.2rem;
    font-family: Futura LT Light;
    margin: 0;
    color: #313333;
    line-height: 1.1;

}

.contact {
    font-size: 1rem;
    font-family: Futura LT Light;
    margin: 0;
    line-height: 1.1;
    color: #313333;
    letter-spacing: 0;

}




/*.intro-left {*/
/*    flex: 1 1 60%;*/
/*}*/

/*.intro-right {*/
/*    flex: 1 1 40%;*/
/*}*/


.contact {
    font-size: 1rem;
    font-family: Futura LT Light;
    margin: 0;
    line-height: 1.1;
    color: #313333;
    letter-spacing: 0;

    flex: 1 1 30%;
    max-width: 30%;
}

.project-info {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.left-col {
    flex: 1 1 70%;
    max-width: 70%;
}

.right-col {
    flex: 1 1 30%;
    max-width: 30%;
}

@media (max-width: 768px) {
    .left-col, .right-col {
        flex: 1 1 100%;
        max-width: 100%;
    }
}











/*body {*/
/*    margin: 1em;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.image-grid {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 1em;*/
/*    width:100%;             !* 随屏幕变化缩放 *!*/
/*    !*max-width: 800px;       !* 最大宽度限制 *!*!*/
/*    margin: 2em auto;*/
/*}*/

/*.image-grid img {*/
/*    width: 100%;        !* 填满每个格子 *!*/
/*    height: auto;       !* 保持原始比例 *!*/
/*    display: block;     !* 去掉底部空隙 *!*/
/*    object-fit: cover;  !* 可选：填充并裁剪（你也可以用 contain） *!*/
/*}*/