@font-face {
    font-family: 'EuropeUnderground';
    src: url('../fonts/europeunderground_black-webfont.woff') format('woff'),
    url('../fonts/europeunderground_black-webfont.woff2') format('woff2');
}

body {
    margin: clamp(1rem, 3.5vw, 2em);
    scrollbar-width: none;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}



.project-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

h1{
    font-family: EuropeUnderground;
    font-weight: 400;
    font-size: clamp(1.55rem, 3.5vw, 4rem);
    line-height: 1.1;
    color: #313333;
    letter-spacing: 0;
    /*padding-bottom: 1rem;*/

}

.project-title {
    font-family: EuropeUnderground;
    font-weight: 400;
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    line-height: 0;
    color: #313333;
    letter-spacing: 0;
    white-space: normal;
    margin: 0;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.intro {
    font-size: 1.2rem;
    font-family: Futura LT Light;
    color: #313333;
    line-height: 1.1;
    margin: 0;
}

.contact {
    font-size: 1rem;
    font-family: Futura LT Light;
    color: #313333;
    line-height: 1.1;
    letter-spacing: 0;
    margin: 0;
}



.info-row {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 左侧2份，右侧1份 = 2:1 比例 */
    column-gap: 50px;
    padding-bottom: 1rem;
    /*align-items: start;*/
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-box {
    flex: 1 1 calc(33.33% - 1rem); /* 每行 3 张图，减去间距 */
    box-sizing: border-box;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* ✅ 在小屏幕上变成每行 1 张图 */
@media (max-width: 560px) {
    .image-box {
        flex: 1 1 100%;
    }
    .image-gallery {
        gap: 0.5rem;
    }
    .info-row {
        grid-template-columns: 1fr;
        row-gap: 0.1rem;
    }

}
















/*body {*/
/*    margin: 1em;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.image-grid {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 1em;*/
/*    width:100%;             !* 随屏幕变化缩放 *!*/
/*    !*max-width: 800px;       !* 最大宽度限制 *!*!*/
/*    margin: 2em auto;*/
/*}*/

/*.image-grid img {*/
/*    width: 100%;        !* 填满每个格子 *!*/
/*    height: auto;       !* 保持原始比例 *!*/
/*    display: block;     !* 去掉底部空隙 *!*/
/*    object-fit: cover;  !* 可选：填充并裁剪（你也可以用 contain） *!*/
/*}*/